#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #be0b0b;
}

body {
  font-family: Tahoma, Verdana;
  background-color: #65abaa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #FEFFFF;
  margin-top: 40px;
}

form h3 {
  display: inline-block;
  color: #FEFFFF;
  margin-right: 10px;
  line-height: 40px;
  font-size: 18px;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  border: 2px solid #DEF2F1;
  background-color: #4d9893;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 250px;
}

input[type="text"]:focus {
  border-color: #DEF2F1;
}

.plus-btn {
  background: transparent;   
  border: none;             
  font-size: 24px;         
  cursor: pointer;
  color: #ffffff;          
  padding: 0 10px;          
  line-height: 1;
}

.plus-btn:hover {
  color: #2b7a78;           
}
